.sneaker_big{
    padding: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    background: white;
    border-radius: 50px;
}

.sneaker_big_image{
    max-width: 100%;
    width: 100%;
}

.sneaker_big_info{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.sneaker_big_text_title{
    font-size: 48px;
}

.sneaker_big_text_subtitle{
    font-size: 36px;
}

p{
    color: #121723;
    margin: 0px;
}

.sneaker_big_add_info{
    display: flex;
    row-gap: 32px;
    justify-content: space-between;
}

.sneaker_big_text{
    width: calc(50% - 16px);
    font-size: 20px;
    line-height: 28px;
}

.sneaker_big_parameters{
    width: calc(50% - 16px);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.sneaker_big_parameters_header{
    padding-bottom: 20px;
    border-bottom: 1px solid #121723;
}

.sneaker_big_parameters_title{
    font-size: 30px;
}

.sneaker_big_parameter{
    padding-bottom: 24px;
    border-bottom: 1px solid #121723;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .sneaker_big{
        padding: 24px;
    }

    .sneaker_big_add_info{
        flex-direction: column;
        justify-content: normal;
    }

    .sneaker_big_text{
        width: 100%;
        font-size: 16px;
    }

    .sneaker_big_parameters{
        width: 100%;
        font-size: 16px;
    }

    .sneaker_big_parameters_title{
        font-size: 24px;
    }

    .sneaker_big_text_title{
        font-size: 32px;
    }

    .sneaker_big_text_subtitle{
        font-size: 20px;
    }
}